
/* Extra Large */

@media only screen and (min-width: 1201px){

    .header {
        top: 50vh;
    }

    .btn_menu {
        top: 30px;
    }

    .picture img {
        width: 60%;
    }

    .picture {
        justify-content: flex-end;
    }

    .describe ul li {
        font-size: 100%;
    }

    .contact p {
        letter-spacing: 0.09rem;
    }

    .contact h4 {
        letter-spacing: 0.1rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .contact_option div{
        padding: 1rem 0;
    }

    .btn_up {
        margin-top: 10rem;
    }

    .drop_down_nav ul li a {
        font-size: 3rem;
    }

    .contact_text {
        padding-left: 15px;
    }

    .contact {
        border-left: 2px solid #FF9800;
        margin-top: 15vh;
    }



    .contact_option div {
        background-color: white;
        margin: 0 0 1rem 2rem;
        width: 18rem;
    }

    h3 {
        font-size: 2.7rem;
        padding: 3rem 0 4rem 15px;
    }

    h3:after {
        top:7rem;
    }

}

@media only screen and (max-width: 1200px){

    .header {
        top: 50vh;
    }

    .btn_menu {
        top: 30px;
    }

    .picture img {
        width: 60%;
    }

    .picture {
        justify-content: flex-end;
    }

    .describe ul li {
        font-size: 100%;
    }

    .contact p {
        letter-spacing: 0.09rem;
    }

    .contact h4 {
        letter-spacing: 0.1rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .contact_option div{
        padding: 1rem 0;
    }

    .btn_up {
        margin-top: 10rem;
    }

    .drop_down_nav ul li a {
        font-size: 3rem;
    }

    .contact_text {
        padding-left: 15px;
    }

    .contact {
        border-left: 2px solid #FF9800;
        margin-top: 15vh;
    }

    .contact_option div {
        background-color: white;
        margin: 0 0 1rem 2rem;
        width: 18rem;
    }

    h3 {
        font-size: 2.7rem;
        padding: 3rem 0 4rem 15px;
    }

    h3:after {
        top:7rem;
    }

}

@media (max-width: 992px){

    .header {
        top: 50vh;
    }

    .btn_menu {
        top: 30px;
    }

    .picture img {
        width: 60%;
    }

    .picture {
        justify-content: flex-end;
    }

    .describe ul li {
        font-size: 72%;
    }

    .contact p {
        letter-spacing: 0.09rem;
    }

    .contact h4 {
        letter-spacing: 0.1rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .contact_option div{
        padding: 1rem 0;
    }


    .btn_up {
        margin-top: 6rem;
    }

    .drop_down_nav ul li a {
        font-size: 2.8rem;
    }

    .contact_text {
        padding-left: 15px;
    }

    .contact {
        border-left: 2px solid #FF9800;
        margin-top: 15vh;
    }

    .contact_option div {
        background-color: white;
        margin: 0 0 1rem 2rem;
        width: 18rem;
    }

    h3 {
        font-size: 2.7rem;
        padding: 3rem 0 4rem 15px;
    }

    h3:after {
        top:7rem;
    }

}



@media  (max-width: 767px){

    .header {
        top: 45vh;
    }

    .btn_menu {
        top: 30px;
    }


    .picture img {
        width: 20%;
    }

    .picture {
        justify-content: flex-start;
    }

    .describe ul li {
        font-size: 100%;
    }

    .contact p {
        letter-spacing: 0.09rem;
    }

    .contact h4 {
        letter-spacing: 0.1rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .contact_option div{
        padding: 1rem 0;
    }

    .btn_up {
        margin-top: 4.5rem;
    }

    .drop_down_nav ul li a {
        font-size: 2.6rem;
    }

    .contact_text {
        padding-left: 15px;
    }

    .contact {
        border-left: 2px solid #FF9800;
        margin-top: 15vh;
    }

    .contact_option div {
        background-color: white;
        margin: 0 0 1rem 2rem;
        width: 18rem;
    }

    h3 {
        font-size: 2.7rem;
        padding: 3rem 0 4rem 15px;
    }

    h3:after {
        top:7rem;
    }

}


@media  (max-width: 576px){


    .header {
        top: 40vh;
    }

    .btn_menu {
        top: 30px;
    }

    .picture img {
        width: 20%;
    }

    .picture {
        justify-content: flex-start;
    }

    .describe ul li {
        font-size: 80%;
    }

    .contact p {
        letter-spacing: 0.0rem;
    }

    .contact h4 {
        letter-spacing: 0;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .contact_option div{
        padding: 0.5rem 0;
    }

    .btn_up {
        margin-top: 3rem;
    }

    .drop_down_nav ul li a {
        font-size: 2.1rem;
    }

    .contact_text {
        padding-left: 15px;
    }

    .contact {
        border-left: 2px solid #FF9800;
        margin-top: 10vh;
    }

    .contact_option div {
        background-color: white;
        margin: 0 0 1rem 2rem;
        width: 18rem;
        }

    h3 {
        font-size: 2.6rem;
        padding: 3rem 0 4rem 15px;
    }

    h3:after {
        top:7rem;
    }
}

@media  (max-width: 430px){

    .header {
        top: 25vh;
    }

    .btn_menu {
        top: 25px;
    }


    .contact p {
        letter-spacing: 0;
    }

    .contact h4 {
        letter-spacing: 0;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .contact_option div{
        padding: 0.2rem 0;
    }

    .drop_down_nav ul li a {
        font-size: 1.8rem;
        margin-left: 1rem;
    }

    .contact_text {
        padding-left: 0;
    }

    .contact {
        border-left: 0;
        margin-top: 7vh;
    }

    .contact_option div {
        background-color: white;
        margin: 0 0 1rem 1rem;
        width: 15rem;
    }

    h3 {
        font-size: 2.3rem;
        padding: 2.5rem 0 3rem 15px;
    }

    .btn_down, .btn_up {
        display: none;
    }

    h3:after {
        top:6rem;
    }
}

@media  (max-width: 400px){

    .header {
        top: 15vh;
    }

    .btn_menu {
        top: 20px;
    }


    .contact p {
        letter-spacing: 0;
    }

    .contact h4 {
        letter-spacing: 0;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .contact_text p {
        margin-bottom: 1rem;
    }


    h4 span {
        display: none;
    }

    .contact_text p span {
        display: none;
    }

    .btn_down, .btn_up {
        display: none;
    }
    .drop_down_nav ul li a {
        font-size: 1.6rem;
        margin-left: 1rem;
    }


    .contact_text {
        padding-left: 0;
    }

    .contact {
        border-left: 0;
        margin-top: 5vh;
    }

    .contact_option div {
        background-color: white;
        margin: 0 0 1rem 1rem;
        width: 15rem;
    }

    .contact_option {
        padding-bottom: 3rem;
    }

    h3 {
        font-size: 2.3rem;
        padding: 2.4rem 0 2.8rem 15px;
    }

    h3:after {
        top:6rem;

    }

}
