
/* Extra Large */

@media only screen and (min-width: 1201px){

    .header {
        top: 50vh;
    }

    .picture img {
        width: 60%;
    }

    .picture {
        justify-content: flex-end;
    }

    .describe ul li {
        font-size: 100%;
    }

    .contact p {
        letter-spacing: 0.09rem;
    }

    .contact h4 {
        letter-spacing: 0.1rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .contact_option div{
        padding: 1rem 0;
    }

    .btn_up {
        margin-top: 10rem;
    }
}

@media only screen and (max-width: 1200px){

    .header {
        top: 50vh;
    }

    .picture img {
        width: 60%;
    }

    .picture {
        justify-content: flex-end;
    }

    .describe ul li {
        font-size: 100%;
    }

    .contact p {
        letter-spacing: 0.09rem;
    }

    .contact h4 {
        letter-spacing: 0.1rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .contact_option div{
        padding: 1rem 0;
    }

    .btn_up {
        margin-top: 10rem;
    }
}

@media (max-width: 992px){

    .header {
        top: 50vh;
    }

    .picture img {
        width: 60%;
    }

    .picture {
        justify-content: flex-end;
    }

    .describe ul li {
        font-size: 72%;
    }

    .contact p {
        letter-spacing: 0.09rem;
    }

    .contact h4 {
        letter-spacing: 0.1rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .contact_option div{
        padding: 1rem 0;
    }


    .btn_up {
        margin-top: 6rem;
    }
}



@media  (max-width: 767px){

    .header {
        top: 45vh;
    }


    .picture img {
        width: 20%;
    }

    .picture {
        justify-content: flex-start;
    }

    .describe ul li {
        font-size: 100%;
    }

    .contact p {
        letter-spacing: 0.09rem;
    }

    .contact h4 {
        letter-spacing: 0.1rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .contact_option div{
        padding: 1rem 0;
    }

    .btn_up {
        margin-top: 4.5rem;
    }
}


@media  (max-width: 576px){


    .header {
        top: 40vh;
    }

    .picture img {
        width: 20%;
    }

    .picture {
        justify-content: flex-start;
    }

    .describe ul li {
        font-size: 80%;
    }

    .contact p {
        letter-spacing: 0.0rem;
    }

    .contact h4 {
        letter-spacing: 0;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .contact_option div{
        padding: 0.5rem 0;
    }

    .btn_up {
        margin-top: 3rem;
    }
}

@media  (max-width: 430px){

    .header {
        top: 25vh;
    }


    .contact p {
        letter-spacing: 0;
    }

    .contact h4 {
        letter-spacing: 0;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .contact_option div{
        padding: 0.2rem 0;
    }

}

@media  (max-width: 400px){

    .header {
        top: 15vh;
    }


    .contact p {
        letter-spacing: 0;
    }

    .contact h4 {
        letter-spacing: 0;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .contact_text p {
        margin-bottom: 1rem;
    }


    h4 span {
        display: none;
    }

    .contact_text p span {
        display: none;
    }

    .btn_down {
        display: none;
    }



}
