* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url('../css/fonts/Roboto-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../css/fonts/Roboto-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../css/fonts/Roboto-Regular.ttf') format('tff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../css/fonts/Roboto-Medium.ttf') format('tff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../css/fonts/Roboto-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../css/fonts/Roboto-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}
/* Hamburger */

.btn_menu {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    z-index: 100;
    border: 1px solid #FF9800;
    transition: 3s;
    cursor: pointer;
}

.btn_menu:hover {

    background: linear-gradient(to bottom, #ffb019, #F57C00);
}

.btn_menu.active .top {
    -ms-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
    background: white;
}

.btn_menu.active .middle, .btn_menu.active:hover .middle {
    background: transparent;
}

.btn_menu.active .bottom {
    -ms-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
    background: white;
}

.btn_menu span {
    height: 2px;
    width: 30px;
    position: absolute;
    transition: all .35s ease;
}

.btn_menu span:first-of-type {
    top: 20px;
    right: 15px;
}

.btn_menu span:nth-of-type(2) {
    top: 28px;
    right: 15px;
}
.btn_menu span:nth-of-type(3) {
    top: 36px;
    right: 15px;
}

.color_light {
    background-color: white;
}

.color_dark {
    background-color: #393946;
}

/* Scroll down */

.btn_down span {
    width: 30px;
    height: 2px;
    position: absolute;
}

.right {
    -ms-transform: translateY(30px) translateX(25px) rotate(135deg);
    transform: translateY(30px) translateX(25px) rotate(135deg);
}

.left {
    -ms-transform: translateY(26px) rotate(45deg) translateX(6.5px);
    transform: translateY(26px) rotate(45deg) translateX(6.5px);
}

.btn_down {
    border: 1px solid #FF9800;
    width: 60px;
    position: relative;
    height: 60px;
    z-index: 13;
    transition-duration: 3s;
    transition-property:  all;
}


.btn_down:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #FF9800, #F57C00);
}


/* Menu  ul li*/
.drop_down_nav {
    position: fixed;
    background: #111C28;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    z-index: 25;
    visibility: hidden;
    transition: opacity 0.4s, visibility .4s, height .4s;
}
.drop_down_nav.open {
    opacity: .98;
    visibility: visible;
    height: 100%;
}

.drop_down_nav.open li {
    position: relative;
    animation: fade 0.2s ease-out forwards;
    animation-delay: .35s;
}

.drop_down_nav li:nth-of-type(2) {
    animation-delay: .55s;
}

.drop_down_nav.open li:nth-of-type(3) {
    animation-delay: .75s;
}

.drop_down_nav.open li:nth-of-type(4) {
    animation-delay: .95s;
}

.drop_down_nav.open li:nth-of-type(5) {
    animation-delay: 1.05s;
}

.drop_down_nav ul {
    list-style: none;
    height: 100%;
    width: 400px;
    margin: 10rem auto;
    position: relative;
}

.drop_down_nav.open ul:before {
    border-left: 0.1rem solid #FFC107;
    width: 100%;
    height: 93%;
    content: '';
    top: 1%;
    position: absolute;
    left: -50px;
    animation: fadeLine 0.7s ease-out forwards;
}

.drop_down_nav ul li {
    opacity: 0;
    padding-bottom: 3rem;
}

.drop_down_nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 300;
    position: relative;
    padding-bottom: 0.5rem;
    letter-spacing: 0.2rem;
}

li a:after {
    content: '';
    height: 0.08rem; /* grubość podkreślenia */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background: rgba(244, 123, 0, 0.87); /* kolor podkreślenia */
    transition: 0.5s; /* szybkość animacji podkreślenia */
}

a:hover:after {
    width: 5rem;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeLine {
    0% {
        opacity: 0;
        transform: translateY(-1500px);
    }


    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Main page */

.main_page {
    background: linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.2)), url('../image/blue.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

}

.contact {
    top:50%;
}

h1 {
    margin: 0 0 2rem 0;
    font-weight: 300;
    letter-spacing: 0.3rem;
    font-size: 3rem;
    color: white;
}

h1 span {
    color: #f2b632;
    font-weight: 700;
}

h2 {
    font-weight: 400;
    letter-spacing: 0.3rem;
    margin: 0 0 2rem 0;
    color: white;
}

.main_page h2 span {
    color: #BDBDBD;
    font-weight: 300;
    font-size: 80%;
}

.main_page  p {
    letter-spacing: 0.12rem;
    color: white;
}

.main_page p span {
    color: #fff49e;
    font-size: 80%;
}

section {
    border-bottom: 1px solid #dbd2ff;
}

/* Section Skills */

#skills, #contact {
    background-color: #eaebff;
    margin-bottom: 0;
    position: relative;
}

.content {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}

.row_skills {
    margin: 0 15px;
}

h3 {
    font-size: 2.7rem;
    padding: 3rem 0 4rem 15px;
    font-weight: 500;
    letter-spacing: 0.15rem;
    color: #393946;
}

h3:after, .text:after {
    content: '';
    position: absolute;
}

h3:after {
    width:7rem;
    height: 2px;
    background-color: #FF9800;
    left: 2rem;
    top:7rem;
}

.row_skills {
    padding-bottom: 4rem;
}

.picture {
    padding: 2rem 2rem 2rem 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.text:after {
    height: 100%;
    top:0;
    width: 2px;
    background-color: rgba(255, 152, 0, 0.4);
    z-index: 12;
    left: 0;
}

.text {
    padding: 1.5rem 4rem 1.5rem 1.8rem;
    transition: 0.7s;
    box-shadow: 3px 3px 9px -3px rgba(110, 110, 110, 0.49);
    font-weight: 400;
}

.light {
    background-color: rgb(245, 246, 254);
}

.dark {
    background-color: rgba(255, 193, 52, 1);
}

.bold_font {
    font-weight: 900;
}

.normal_font {
    font-weight: 500;
}

.text h4 {
    padding-bottom: 1rem;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    color: #315B9E;
}

.text p {
    color: #333333;
    font-size: 0.95rem;
    font-weight: 400;
}

.picture img {
    opacity: 0.86;
}

/* Section Portfolio ******************************/


#portfolio {
    background-color: #f3f4f5;
}

.portfolio_row img {
    box-shadow: 3px 3px 9px -1px rgba(110, 110, 110, 1);
    width: 100%;
    height: 100%;
    position: relative;
}

.portfolio_row::after {
    content: '';
    width: 100%;
    height: 100%;
    right:0;

    position: absolute;
    background: linear-gradient(rgba(11, 19, 24, 0.13), rgba(17,28,40, 0.13));
    overflow: hidden;
}

.image_portfolio {
    margin: 0 0 1rem 0;
}

.portfolio_row {
    margin: 0;
    padding: 0;
}

.link_row {
    margin: 0 0 2rem 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.link_row div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1rem;
}

.describe_link  {
    font-size: 90%;
}


/* Section Portfolio Animation Describe Image */

.describe  {
    top: 0;
    right: 0;
    position: absolute;
    width: 40%;
    height: 100%;
    z-index: 20;
    border-left: 2px solid #0b1318;
    background-color: rgba(17, 28, 40, 0.91);
    overflow: hidden;
    visibility: visible;
    transition: 0.8s ease-in;
    -moz-transition: 0.8s ease-in;
}



.describe ul {
    position: relative;
    top: 30%;
    list-style: none;
    transition:2s ease-in;
    -moz-transition:2s ease-in;
}

.describe li {
    text-transform: uppercase;
    padding: 0 0 1.5rem 1.4rem;
    font-weight: 500;
    color: rgba(236, 236, 236, 0.65);
    letter-spacing: 0.13rem;
    transition:0.8s ease-in;
    -moz-transition:0.8s ease-in;
    transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
}

.portfolio_row:hover .describe {
    width: 0;
}

.portfolio_row:hover ul li {
    -ms-transform: translateX(200px);
    transform: translateX(200px);
    transition: 0.9s;
}

/* Section Portfolio Icons */

.ion-eye, .ion-social-github {
    padding: 0 1rem;
    font-size: 2.5rem;
    opacity: 0.9;
    transition: 0.5s;
    color: #272734;
}

.ion-eye:hover, .ion-social-github:hover {
    color: #FF9800;
    cursor: pointer;
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.ion-eye {
    font-size: 3.3rem;
}

.ion-checkmark {
    font-size: 0.8rem;
}

.contact_describe {

    width: 100%;
    height: auto;

    position: absolute;

}


.contact_describe_high {
    top:30%;
}


.contact_describe_low {
    top:50%;
}


.contact_describe:after {
    content: '';
    position: absolute;
    width:2px;
    height: 65%;
    background: #FF9800;
    left: 1rem;
    top:0;
}

.contact, .contact_option{
    left: 30px;
    position: relative;
}


#contact .contact p {
    font-size: 120%;
    padding: 0.5rem 0 1rem 0;
    letter-spacing: 0.1rem;
}

#contact .contact  span {
    font-weight: 300;
    font-size: 80%;
    color: #3f7fb4;
}

#contact .contact  h4 {
    font-size: 150%;
    letter-spacing: 0.1rem;
    color: #315B9E;
}

#contact .contact  h4 span {
    color: #62617a;
}

.contact_option  span {
    padding-right: 1rem;
    font-size: 150%;
}

.contact_option a {
    text-decoration: none;
}

.contact_option div{
    background-color: white;
    margin: 0 0 1rem 1rem;
    padding: 1rem 0;
    width: 18rem;
    cursor: pointer;
    text-align: center;
}

.contact_option div:hover{
    color: #EAEBFF;
    background: #2d66b7;
}

.btn_up {
    position: relative;
    left: 1rem;
}


.btn_up2 {
    position: relative;
    left: 1rem;
    margin-top: 5rem;
}

.btn_up .right {
    -ms-transform: translateY(30px) translateX(25px) rotate(45deg);
    transform: translateY(30px) translateX(25px) rotate(45deg);
}

.btn_up .left {
    -ms-transform: translateY(35px) rotate(-45deg) translateX(6.5px);
    transform: translateY(35px) rotate(-45deg) translateX(6.5px);
}




/* Section Contact */

/*
.contact_describe {
    padding-left: 2.5rem;
    padding-bottom: 20%;

    top: 30%;
    position: absolute;
    color: #333333;
    font-weight: 500;
    background: lightslategray;

}

.contact_describe:after {
    content: '';
    position: absolute;
    width:2px;
    height: 65%;
    background: #FF9800;
    left: 1rem;
    top:0;
}

.contact p {
    font-size: 120%;
    padding: 0.5rem 0 1rem 0;
    letter-spacing: 0.1rem;
}

.contact span {
    font-weight: 300;
    font-size: 80%;
    color: #3f7fb4;
}

.contact h4 {
    font-size: 150%;
    letter-spacing: 0.1rem;
    color: #315B9E;
}

.contact h4 span {
    color: #62617a;
}

.contact_option span {
    padding-right: 1rem;
    font-size: 150%;
}

.contact_option a {
    text-decoration: none;
}



.contact_option div{
    background-color: white;
    margin: 0 0 1rem 1rem;
    padding: 1rem 0;
    width: 18rem;
    cursor: pointer;
    text-align: center;
}

.contact_option div:hover{
    color: #EAEBFF;
    background: #2d66b7;
}


*/
/* Button up */
/*
.btn_up {
    margin-top: 2rem;
    margin-left: 15px;
    position: absolute;
    bottom: 60px;
    left: 2px;
}

.btn_up .right {
    -ms-transform: translateY(30px) translateX(25px) rotate(45deg);
    transform: translateY(30px) translateX(25px) rotate(45deg);
}

.btn_up .left {
    -ms-transform: translateY(35px) rotate(-45deg) translateX(6.5px);
    transform: translateY(35px) rotate(-45deg) translateX(6.5px);
}
*/

.light_font {
      color: #EAEBFF;
  }
.dark_font {
      color: #333333;
  }
/* Footer */

footer {
    background-color: #132752;
    color: #EAEBFF;
    padding: 0.5rem;
   position: relative;

}

footer p {
    text-align: center;
    font-weight: 300;
    font-size: 90%;

}

footer span {
    padding: 0 1.5rem;
}

section {
    position: relative;
}